body {
	margin: 0;
	display: flex;
	flex-direction: column;
}


.container-map {
    display: flex;
    flex: 1;
}

.carousel-control-next {
	background-image: url('../img/arrow_next.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	box-shadow: none;
}



.carousel-control-prev {
	background-image: url('../img/arrow_prev.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	box-shadow: none;
}


.carousel-control-prev:hover {
	transition: all 0.8s ease-out;
	background-image: url('../img/arrow_hover_prev.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}


.carousel-control-next:hover {
	transition: all 0.8s ease-out;
	background-image: url('../img/arrow_hover_next.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.d-block w-100 {
	position: fixed;
	width: 100px;
}



//Map style

#map {
  width: 100%;
  height: 600px;
}


//Menu filter

.content {
	padding: 2rem;
	color: darkslategrey;
	font-size: 2rem;
	width: 60vw;
	margin: 2rem auto;
}

#nav-filter {
	width: 10vw;
  background-color: #f2c9ac;
	transition: height 200ms, width 200ms;
}

#nav-filter.visible {
	//height: 100vh;
	width: 40vw;
}

#button-menu {
	background: #180614;
	color: white;
}

/* equal card height */
.row-equal > div[class*='col-'] {
	display: flex;
	flex: 1 0 auto;
}

.row-equal .card {
	width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
	display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left,
.carousel-inner>.row-equal.active.right {
	opacity: 0.5;
	display: flex;
}


/* control image height */
.card-img-top-250 {
	max-height: 250px;
	overflow:hidden;
}
